
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 10;
}

nav {
    margin-top: 10px;
}
nav ul li{
    display: inline;
    padding-inline: 1rem;
    list-style: none;
    cursor: pointer;
}
a{
    font-weight: bolder;
    text-decoration: none;
    color: #ccc;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.hidden{
    display: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
    padding: 1.5rem;
    border-radius: 1rem;

}

.formgrp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#editform{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

form p{
    font-size: smaller;
    font-style: italic;
    opacity: .6;
}

.hidden{
    display: none;
}

.headgrp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    width: 100%;
    background: white;
    padding: 20px;
    border-bottom: 2px solid #ccc;

}

.sesctioncontent{
    width: max-content;
    padding: 2rem;
    background-color: aliceblue;
    border: 1px solid #333;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.profilegrp{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.profilegrp span{
    font-style: italic;
}
#section1 {
    background: #f8f9fa;
}



.feat{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.additionalfeatures{
    display: flex;
    gap: 3rem;
    background-color: aliceblue;
    padding: 2rem;
    border: 1px solid #333;
    border-radius: 1rem;
}

.feat img{
    height: 10rem;
    width: 10rem;
}

#fibooutput{
    max-width: 100px;
}

input, button{
    border-radius: .5rem;
    border: none;
    padding: .5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .table-container {
    height: calc(100vh - 14rem);
    overflow-y: auto;
    width: 100%;
  }
  
  table thead {
    background: linear-gradient(to right, #5b5454cc 0%, #333 100%);
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  td{
    padding: .5rem;
  }
  
  .actioncell{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: .5rem;
  }

  .btnspan{
    cursor: pointer;
    font-weight: 700;
  }

  tr{
    border-bottom: #333 solid 1px;
  }